<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xk.chatBack.mapper.GroupMapper">
    
    <select id="getUsersInGroup" resultType="cn.xk.chatBack.model.User">
        SELECT u.user_id, user_name, avatar, role, `status`, tag, create_time
        FROM `group_map` g LEFT JOIN `user` u on g.user_id = u.user_id
        where g.group_id = #{groupId}
    </select>
    
    <select id="getGroupChatByUserId" resultType="cn.xk.chatBack.model.ChatGroup" >
        SELECT cg.user_id, cg.notice, cg.group_name, cg.group_id, cg.create_time
        FROM `group_map` g LEFT JOIN `chat_group` cg on g.group_id = cg.group_id
        where g.user_id	= #{userId}
    </select>
    
    <select id="selectAllGroupId" resultType="java.lang.String" >
        SELECT group_id
        FROM `chat_group`
    </select>
    
    <select id="getGroupListByUserId" resultType="java.lang.String" >
        SELECT group_id
        FROM `group_map`
        WHERE `user_id` = #{userId}
    </select>
    
    <insert id="joinGroup">
        INSERT INTO `group_map` (`group_id`,`user_id`)
        VALUES (#{groupId}, #{userId})
    </insert>
    
    <delete id="exitGroup">
        DELETE
        FROM `group_map`
        WHERE `group_id` = #{groupId} AND `user_id` = #{userId};
    </delete>

</mapper>
